*{
  box-sizing: border-box;
}

.ui-progressbar-value, .ui-corner-left, .ui-widget-header {
  width: 60%; 
  background-color: rgb(241, 139, 109);
}


.bottom-header, .front-page{
  background-image: url(../public/images/front-page/front-page-header.jpg);
  background-attachment: fixed;
}

