*{
  box-sizing: border-box;
}

/* nav */
#menu-illdy-main{
  display: flex;
  justify-content: end;
}

/* header */
.bottom-header, .front-page{
  background-image: url(../public/images/front-page/front-page-header.jpg);
  background-attachment: fixed;
}
.span-dot{
  color: #ffde00;
}
#header, .container{
  color: #fff;
}
.col-sm-8, .col-sm-offset-2{
  display: grid;
}
.section-description{
  display: flex;
  text-align: center;
  padding-bottom: 50px;
}
.header-button{
  display: flex;
  text-align: center;
  margin-left: 10%;
  padding-bottom: 100px;
}
.header-button-one{
  width: auto;
  height: 63px;
  line-height: 57px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 15px;
  padding: 0 70px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Lato";
  min-width: 242px;
}
.header-button-two{
  width: auto;
  height: 63px;
  line-height: 63px;
  background: #f1d204;
  margin: 0 15px;
  padding: 0 70px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Lato";
  min-width: 242px;
}
.header-title{
  padding-top: 100px;
  padding-bottom: 30px;
  margin-left: 12%;
}

/* about */

/* typography */
.skill-widget-2 {
  width: 60%; 
  background-color: rgb(241, 139, 109);
}
.skill-circle-2{
  background-color: #f18b6d;
}
.skill-top-2{
  background-color: #f18b6d;
}
.skill-value-2{
  border-top-color: #f18b6d;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.bottom-2{
  color: rgb(241, 139, 109);
}

/* design */
.skill-widget-3 {
  width: 60%; 
  background-color: rgb(241, 210, 4);
}
.skill-circle-3{
  background-color: #f1d204;
}
.skill-top-3{
  background-color: #f1d204;
}
.skill-value-3{
  border-top-color: #f1d204;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.bottom-3{
  color: rgb(241, 210, 4);
}

/* development */
.skill-widget-4 {
  width: 60%; 
  background-color: rgb(106, 77, 138);
}
.skill-circle-4{
  background-color: #6a4d8a;
}
.skill-top-4{
  background-color: #6a4d8a;
}
.skill-value-4{
  border-top-color: #6a4d8a;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.bottom-4{
  color: rgb(106, 77, 138);
}

/* project */
.project-3{
  background-image: url('../public/images/front-page/front-page-project-4.jpg');
  height: 66.5px;
}
.project-4{
  background-image: url('../public/images/front-page/front-page-project-3.jpg');
  height: 66.5px;
}
.project-5{
  background-image: url('../public/images/front-page/front-page-project-2.jpg');
  height: 66.5px;
}.project-6{
  background-image: url('../public/images/front-page/front-page-project-1.jpg');
  height: 66.5px;
}